# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
dist
build

# Ignore environment files
.env
.env.local

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore Git-related files
.git
.gitignore

# Ignore IDE/editor config files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
